<!--
  Generated template for the AddPicturePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Camera</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <img src="assets/imgs/desc.jpg" /> 

      <ion-card>
        <ion-card-content>
            <img src="assets/imgs/perfil.jpg" *ngIf="base64Image.length == 0"/> 
            
                <img [src]="base64Image"/>
            
        </ion-card-content>
    </ion-card>
   
  

    <span *ngIf="base64Image.length == 0">Picture no taken!...</span> 
    <span *ngIf="base64Image">Picture taken!</span>    
    <button ion-button icon-only (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </button>
  
</ion-content>
