<!--
  Generated template for the AddPicturePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Camera</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <span *ngIf="base64Image.length == 0">Picture no taken!...</span> 
    <span *ngIf="base64Image">Picture taken!</span>    
    <button ion-button icon-only (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </button>
  
</ion-content>
